.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.idea/
test_data

# Ignore Nextflow test output files, which may contain sensitive information and are not relevant to the repository.
.nf-test*
