/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/seqsubmit'
}

process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

// Override secrets-based env vars so nf-test runs don't require a populated keystore.
// Stub-mode tests never use the actual credentials.
env {
    ENA_WEBIN          = "test_webin_account"
    ENA_WEBIN_PASSWORD = "test_webin_password"
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
