/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // Default publishDir for all processes, can be overridden by individual process definitions below
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    //
    // VALIDATION OF INPUT FASTA FILES
    //

    withName: 'FASTAVALIDATOR' {
        publishDir = [
            enabled: false
        ]
    }

    //
    // TAXOMIC CLASSIFICATION SUBWORKFLOW
    //

    withName: 'CATPACK_ADDNAMES_BINS' {
        ext.args = '--only_official'
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/taxonomy" },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
        ]
    }

    withName: 'CATPACK_BINS' {
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/taxonomy" },
            mode: params.publish_dir_mode,
            pattern: "*.bin2classification.txt"
        ]
    }

    withName: 'CATPACK_PREPARE' {
        publishDir = [
            [
                path: { "${params.outdir}/databases/cat_pack/" },
                mode: params.publish_dir_mode,
                pattern: '*/db/',
                saveAs: { filename -> "db" }
            ],
            [
                path: { "${params.outdir}/databases/cat_pack/" },
                mode: params.publish_dir_mode,
                pattern: '*/tax/',
                saveAs: { filename -> "tax" }
            ]
        ]
    }

    withName: 'RENAME_FASTA_FOR_CATPACK|CAT_DB_UNTAR' {
        publishDir = [
            enabled: false
        ]
    }

    //
    // RNA DETECTION SUBWORKFLOW
    //

    withName: 'BARRNAP' {
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/rna/barrnap" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TRNASCANSE' {
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/rna/trnascanse" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COUNT_RNA' {
        publishDir = [
            enabled: false
        ]
    }

    //
    // GENOME QUALITY ASSESSMENT SUBWORKFLOW
    //

    withName: 'CHECKM2_PREDICT' {
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/checkm2" },
            mode: params.publish_dir_mode,
            pattern: "*_checkm2_report.tsv",
        ]
    }

    withName: 'CHECKM2_DATABASEDOWNLOAD' {
        publishDir = [
            path: { "${params.outdir}/databases/checkm2/" },
            mode: params.publish_dir_mode,
            pattern: '*.dmnd'
        ]
    }

    //
    // COVERAGE CALCULATION
    //

    withName: 'COVERM_GENOME' {
        ext.args = '--min-covered-fraction 0 --methods mean'
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COVERM_CONTIG' {
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // SUBMISSION AND MANIFEST GENERATION
    //

    withName: 'CREATE_ASSEMBLY_METADATA_CSV|CREATE_GENOME_METADATA_TSV' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CONCAT_METADATA|CONCAT_ACCESSIONS' {
        publishDir = [
            path: { "${params.outdir}/${params.mode}/upload" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GENOME_UPLOAD' {
        ext.args = "--force" // ensures that ENA metadata is re-downloaded even if cache exists
        publishDir = [
            path: { "${params.outdir}/${params.mode}/upload/manifests" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ENA_WEBIN_CLI_WRAPPER' {
        ext.args = { params.mode == 'mags' || params.mode == 'bins' || params.mode == 'metagenomic_assemblies' ? "--context genome": "--context reads"}
        publishDir = [
            path: { "${params.outdir}/${params.mode}/${meta.id}/upload/webin_cli" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REGISTERSTUDY|GENERATE_ASSEMBLY_MANIFEST' {
        publishDir = [
            enabled: false
        ]
    }

    //
    // MULTIQC REPORT
    //

    withName: 'MULTIQC' {
        ext.args   = {
            [
                params.multiqc_title ? "--title \"$params.multiqc_title\"" : '',
                "-p"
            ].findAll().join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
