/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/seqsubmit -profile test_reads_paired,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test --mode reads profile'
    config_profile_description = 'Minimal test profile for reads submission'

    // Input data
    input  = "${projectDir}/assets/samplesheet_reads.csv"
    outdir = 'test_output'

    mode             = "reads"
    submission_study = "PRJEB98843"
    centre_name      = "TEST_CENTER"

    test_upload      = true
}
