/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/seqsubmit -profile test_assembly_coassembly_with_coverage,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test --mode metagenomic_assemblies co-assembly with coverage profile'
    config_profile_description = 'Co-assembly test with pre-provided coverage and multiple run accessions'

    // Input data
    input  = "${projectDir}/assets/samplesheet_assembly_coassembly_with_coverage.csv"
    outdir = 'test_output'

    mode             = "metagenomic_assemblies"
    submission_study = "PRJEB98843"
    centre_name      = "TEST_CENTER"

    test_upload      = true

}
