/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/seqsubmit -profile test_reads_paired,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test --mode reads paired_end profile'
    config_profile_description = 'Single-case reads test with paired-end reads'

    // Input data
    // TODO: prepare test data and add to repo, update path here
    input  = params.pipelines_testdata_base_path + 'seqsubmit/samplesheets/reads_paired.csv'
    outdir = 'test_output'

    mode             = "reads"
    submission_study = "PRJEB98843"

}
