params {
    // Use ENA test server and validate only (no actual submission)
    test_upload     = true
    webincli_mode   = "validate"
}

process {
    withName: ENA_WEBIN_CLI_WRAPPER {
        ext.args = ""
    }
}

env {
    ENA_WEBIN          = secrets.ENA_WEBIN
    ENA_WEBIN_PASSWORD = secrets.ENA_WEBIN_PASSWORD
}
