params.testDataDir = "${projectDir}/modules/local/ena_webin_cli/test-mocking"
env {
  WEBIN_ACCOUNT              = "mock_account"
  WEBIN_PASSWORD             = "mock_password"
  PATH                       = "${params.testDataDir}:\$PATH"
  WEBINCLI_MOCK_TEMPLATE_DIR = "${params.testDataDir}"
}
process {
  withName: 'ENA_WEBIN_CLI' {
    containerOptions = "-v ${params.testDataDir}:${params.testDataDir}" 
  }
}
